
<!DOCTYPE html>
<html lang="{{ str_replace('_', '-', app()->getLocale()) }}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>RentAdvisor | Contratto </title>

        <link rel="stylesheet" href="../../../public/css/contratto_paginazione.css" type="text/css">
        
    <head>

    <body id="contratto">
        <h1>MODELLO "C"</h1>
        <h2>CONTRATTO DI LOCAZIONE DI NATURA TRANSITORIA PER LE ESIGENZE ABITATIVE DEGLI STUDENTI UNIVERSITARI</h2>
        <h4><strong>ai sensi dell'art. 5, comma 2, della legge 9 dicembre 1998, n. 431</strong><h4>

        <section>
            <p>Il/La Sig./Soc. ________________________________________
            di seguito denominato/a locatore______________________________,
            in qualità di proprietario della locazione menzionata.
            <hr>CONCEDE IN LOCAZIONE<br>
            al/alla Sig. (ovvero se la locazione riguarda più conduttori ai
            Sig.ri)___________________________________________________________
            __________________________________________________________________
            di seguito denominati/a locatori__________________________________
            ___________________________________________________________
            che accetta, per sé e suoi aventi causa, l'unità immobiliare posta in via ______________ n. civico
            ________ piano _______ scala _______ int. ______ composto di n. _____ stanze, oltre cucina e
            servizi, e dotata altresì dei seguenti elementi accessori (____, ______, ______, _____).
            <hr>PERIODO DI LOCAZIONE<br>
            Il periodo nel quale il contratto viene sottoscritto ha validità da data _________________ a data 
            ________________ .
            </p>
        </section>
    </body>
</html>